<!-- database modal window -->

<h1 mat-dialog-title>Database connection</h1>
<mat-dialog-content>
    <p>In order for database connection to work, you should configure database instance and APIs on your node runtime</p>
    <p>
        Data will be here soon
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    <button mat-flat-button color="warn" cdkFocusInitial>Clear data</button>
</mat-dialog-actions>